PROJECT_NAME="VOCHE App"
DATABASE_URL="postgresql://postgres:yacine@db:5432/voce"
REDIS_URL="redis://localhost:6379"
SECRET_KEY="voche_super_secret_key_must_be_32_bytes"
SMTP_USER="yacineyoyoker@gmail.com"
SMTP_PASSWORD="uujb ypde kekw hahi"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="yacine"
POSTGRES_DB="voce"
POSTGRES_PORT=5432
REDIS_PORT=6379

FRONTEND_VAR="http://localhost:5173"